In [47]:
import pandas as pd
# Sample data
data = {'values': [10, 20, 15, 30, 25]}
df = pd.DataFrame(data)

# Rank the values in ascending order
df['ranked'] = df['values'].rank(method='average')

# Calculate the cumulative sum of the ranked values
df['cumsum_ranked'] = df['ranked'].cumsum()

print(df)

   values  ranked  cumsum_ranked
0      10     1.0            1.0
1      20     3.0            4.0
2      15     2.0            6.0
3      30     5.0           11.0
4      25     4.0           15.0

In [48]:
df.sort_values(by='values')['values']

0    10
2    15
1    20
4    25
3    30
Name: values, dtype: int64

In [49]:
df.sort_values(by='values')['values'].cumsum()

0     10
2     25
1     45
4     70
3    100
Name: values, dtype: int64

In [50]:
def ecdf_col(df, column=None, inplace=False):
    
    c = df.sort_values(by=column)[column].cumsum()
    c = c/c.max()
    new_vname = f'{column}_ecdf'
    values = c.iloc[c.index]
    if inplace:
        df[new_vname] = values
    else:
        cdf = df.copy()
        cdf[new_vname] = values
        return cdf

In [51]:
ecdf_col(df, 'values')

   values  ranked  cumsum_ranked  values_ecdf
0      10     1.0            1.0         0.10
1      20     3.0            4.0         0.45
2      15     2.0            6.0         0.25
3      30     5.0           11.0         1.00
4      25     4.0           15.0         0.70

In [52]:
df

   values  ranked  cumsum_ranked
0      10     1.0            1.0
1      20     3.0            4.0
2      15     2.0            6.0
3      30     5.0           11.0
4      25     4.0           15.0

In [53]:
ecdf_col(df, 'values', inplace=True)

In [54]:
df

   values  ranked  cumsum_ranked  values_ecdf
0      10     1.0            1.0         0.10
1      20     3.0            4.0         0.45
2      15     2.0            6.0         0.25
3      30     5.0           11.0         1.00
4      25     4.0           15.0         0.70